
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<!-- META TAGS -->
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<!-- /META TAGS -->
		<link href="http://camaras.vera.com.uy/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />		<link href='http://camaras.vera.com.uy/css/estilos.css' rel='stylesheet' type='text/css' />
		<link href='http://camaras.vera.com.uy/custom_css_jwplayer/my_skin_channel.css' rel='stylesheet' type='text/css' />
		
		<!-- <link href='/css/ui-lightness/jquery-ui-1.8.11.custom.css' rel='stylesheet' type='text/css' />
		<link href='/css/jquery.paginate.css' rel='stylesheet' type='text/css' />
		<link href='/css/extensions.css' rel='stylesheet' type='text/css' /> -->
		<title>Vera C&aacute;maras</title>
		<!-- JS -->
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/jquery-1.7.1.min.js"></script>
		<!-- <script type="text/javascript" src="/js/jquery-ui-1.8.11.custom.min.js"></script>-->
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/pType.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/jwplayer/jwplayer.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/common.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/lib/angular/angular.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/lib/angular/angular-resource.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/app.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/controllers.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/services.js"></script>
		<!--[if lt IE 7]>
			<script type="text/javascript" src="/js/unitpngfix.js"></script>
		<![endif]-->
		<script>
			//Evitar iframes
			if(top.location!=this.location){
				top.location=this.location;
			}
		</script>
	</head>
	<body>
		<div id="ajax_dialog"></div>	
		<!--div cabezal-->		
		<div class="paraguas">
	<div class="content">
		<a href="http://www.antel.com.uy/" class="fright antel"><img src="http://camaras.vera.com.uy/img/pixel.gif" alt="Logo de Antel"/></a>		<div class="texto_top fsize-3 fright">
												<a href="javascript:do_login();">ingresar</a>	
									</div>
		<div class="cboth"></div>
	</div>					
</div>				<div class="cboth"></div>
		<div class="cabezal fore-color-1">
	<a href="http://camaras.vera.com.uy/" class="fleft logo"><img src="http://camaras.vera.com.uy/img/pixel.gif" alt="Adinet C&aacute;maras"/></a>		<div class="cright"><div id="veratvlogo" class="fright"><a href="http://tv.vera.com.uy/"><img src="http://camaras.vera.com.uy/img/veratv chiquito.png" alt="Veratv Logo"/></a></div></div>
	<!-- <div class="fright buscador">
		<a href="javascript:$(this).click();" id="button_buscar" class="fright buscar fore-color-1 fsize-2 acenter">Buscar</a>
		<div class="input fright">
			<input id="search_input" type="text" class="" value=""></input>				
		</div>
		<script type="text/javascript">		 		
			$(".buscador>.buscar").click(function(event){
				Application.Location.setParam('search', $("#search_input").val());
				if(Application.Location.hasParam('page')) 	Application.Location.setParam('page', 1);
				Application.Location.updateLocation();
				Application.Location.go('http://camaras.vera.com.uy/buscar'+Application.Location.get('search'));
				return false;
			});
			$("#search_input").keyup(function(event){if(event.keyCode == 13) $(".buscador>.buscar").click();});
		</script>
	</div> -->
<!--MENU-->
	<div class="line fore-color-1 as-underline as-overline"></div>
	<div class="cboth"></div>
	
</div>		<div class="cboth"></div>
		<!--[if lt IE 7]>
			<div class="notification warning mauto" style="width:850px;padding:0px; padding-left:35px">
				Est&aacute;s navegando con Internet Explorer 6.<br/>Para tener una mejor experiencia en este sitio te recomendarmos usar alguno de los siguientes navegadores.				
				<a href="http://www.mozilla.com/?from=sfx&uid=267821&t=449" class=""><img src="/img/browser_firefox.png" /></a>
				<a href="http://www.google.com/chrome/index.html?brand=CHNY&utm_campaign=en&utm_source=en-et-youtube&utm_medium=et" class=""><img src="/img/browser_chrome.png" /></a>
				<a href="http://www.microsoft.com/windows/internet-explorer/default.aspx" class=""><img src="/img/browser_explorer.png" /></a>
				<a href="http://www.apple.com/safari/" class=""><img src="/img/browser_safari.png" /></a>
				<a href="http://www.opera.com/browser/" class=""><img src="/img/browser_opera.png" /></a>
			</div>
		<![endif]-->		
		<div class="cboth"></div>
		<div class="contenedor">
			<div class="cboth"></div>
				<script type="text/javascript" src="http://camaras.vera.com.uy/jwplayer/jwplayer.js"></script>
	<script type="text/javascript">jwplayer.key="Nx30mKDHBilTt/aT7uPSzyGDP+StqPMEWohghw==";</script>
	
	<!-- START GOOGLE ANALYTICS -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga("create", "UA-58643395-1", "auto");
			ga('send', {
  				hitType: 'pageview',
 				page: "Playa Pocitos"
			});
			  
	</script>
	<!-- END GOOGLE ANALYTICS -->
		
	<div class="fleft width-33 fsize-3">
		<h1>2 - Playa Pocitos</h1>
				<div class="line invisible"></div>
	</div>
	<div class="fleft width-33 fsize-3 prelative">
		<!-- START WEATHER APP -->
		<div id="extra-info" ng-app="extra-info" ng-controller="ExtraInfoCtrl" ng-cloak>
			<div class="container ohidden">
				<img class="fleft" ng-src="{{weatherInfo.icon_url}}" title="{{weatherInfo.tooltips.weather_icon}}" />
				<div class="fleft acenter" style="width: 64px" title="{{weatherInfo.tooltips.temperature}}">
					<span class="curr-temp">{{weatherInfo.temp_c}}{{weatherInfo.c_unit}}</span>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{weatherInfo.tooltips.max_min}}">
					<!-- <img class="max-min fleft" ng-src="{{weatherInfo.high_icon}}" /> -->
					<span class="max-min fright fbold" style="color:#FFBB96">{{weatherInfo.high_temp_c}}{{weatherInfo.c_unit}}</span>
					<div class="cleft"></div>
					<!-- <img class="max-min fleft" ng-src="{{weatherInfo.low_icon}}" /> -->
					<span class="max-min fright fbold" style="color:#A3DDFF">{{weatherInfo.low_temp_c}}{{weatherInfo.c_unit}}</span>
					<div class="cleft"></div>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{time | date:'dd/MM/yyyy HH:mm:ss'}}">
					<span class="date-time fright">{{time | date:"dd/MM"}}</span>
					<div class="cright"></div>
					<span class="date-time fright">{{time | date:"HH:mm"}}</span>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{weatherInfo.tooltips.sun_moon}}">
					<span class="day-night-icon" ></span>
				</div>
				<div class="cboth"></div>
			</div>
		<!-- <a class="fleft icon less pabsolute" style="top:2px; left: 0px; display: none;" ng-click="hide()"></a> -->
		<!-- <a class="fleft icon more pabsolute" style="top:2px;left: 0px; display: none;" ng-click="show()"></a> -->
			<a class="fleft pabsolute" target="_blank"  href="{{weatherInfo.wu_link}}" style="top:26px;left: 4px;width:24px;height:16px;" title="Ver en wunderground.com"><img class="logo" ng-src="{{weatherInfo.wu_logo}}"/></a>
			<div class="cboth"></div>
		</div>
		<!-- END WEATHER APP -->
	</div>
	
	<div class="width-33 fright">
		<div class="box">
			<a target="_blank" href="http://twitter.com/share?url=http://camaras.vera.com.uy/camara/35&text=Estoy+mirando+la+camara+%27Playa+Pocitos%27+en+Vera+C%C3%A1maras" title="Compartir en twitter" class="item twitter fright"></a>
			<a href="javascript: void(0);" onclick="window.open('http://www.facebook.com/sharer.php?u= http://camaras.vera.com.uy/compartir/facebook/35','Compartir', 'toolbar=0, status=0, width=640, height=360');" title="Compartir en Facebook" class="item facebook fright"></a>
			<a href="javascript:void(0);" class="button medium grey fleft" onclick="if(mapExpanded){collapseMap();}else{expandMap();}" style="margin-top:3px;"><span class="btn-map-expand btn-label">Ampliar Mapa</span><span class="btn-map-collapse btn-label btn-label-hide">Reducir Mapa</span></a>
			<a href="javascript:void(0);" class="button medium grey" onclick="centerMap(-34.892584,-56.194389,6);" style="margin-top:3px;"><span class="btn-label">Ver todas</span></a>
			<div class="cboth"></div>
		</div>
	</div>
		
	<div class="cboth"></div>
		
	<!-- START JWPLAYER -->
	<div id="player-map-container" class="ohidden prelative" style="padding-right:4px;padding-bottom:4px">
		<div class="content-watch ohidden fleft prelative">
			<div class="fake" style="height:390; width:640;">
			<script type="text/javascript">
				/* START INFO WEATHER WIDGET */
				var camera_id = '35';
				var PORTAL_WS_INFO = 'http://www.adinet.com.uy/ws/ws_info.php';
				var PORTAL_WS_WEATHER = 'http://www.adinet.com.uy/ws/ws_jsonp.php';
				/* END INFO WEATHER WIDGET */
			</script>
							<div id="myElement">
					<script type="text/javascript">
						jwplayer("myElement").setup({
				    		file: "http://live.cdn.antel.net.uy/auth_livesignal_324,vxttoken=cGF0aFVSST0lMkZhdXRoX2xpdmVzaWduYWxfMzI0JTJGaGxzJTJGJTJBJmV4cGlyeT0xNDc2NDM1NDIxJnJhbmRvbT12QzlEOFlGNVpuJmMtaXA9MTg2LjQ4LjE2NC44MSw0M2QyNmIyMDIxYzZjNzFmYjMzOTI4ZGMyYzAzMjI4MmY5NThmY2I5Y2RkNjQ1NWYwZjc1MDNkMzZiMGIyYzM4/hls/playlist.m3u8",
							autostart: true,
							aspectratio: "16:9",
							width: "100%",
							androidhls: true,
							primary: "html5",
								logo: {
									file: "http://veratv.cdn.antel.net.uy/syndication/images/a_24x24.png",
									hide: true,
									link: "http://www.antel.com.uy/",
									position: "top-right",
							},
							skin: {
								  name: "bekle"
							},
							fallback: false,
							stretching: "uniform",
					        hlslabels: {
				                "300":"300k",
				                "800": "800k",
				                "1200": "1200k",
				                "3000": "3000k"
					        }
						});
					</script>
				</div>
						</div>
		</div>
		<!-- END JWPLAYER -->
		
		<!-- START GOOGLE MAPS -->
		 
		<div id="map-canvas" class="map-canvas" style="width: 310px;height: 360px;float:right;"></div>
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDC2StbMR1b0YRN8WU56OMYtWqFF3RW1NQ&language=es"></script>
		<!-- END GOOGLE MAPS -->
	</div>
		
	<div class="cboth"></div>
	<div class="fleft width-67">
		<div class="box" style="margin-right:4px;margin-top:3px;">
			<div class="content-entry">
				<div class="content-thumb thumb-128 fleft">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/26/128/default.jpg" alt="Playa Pocitos" class="" style="margin-top:0px;"/>					</span>
				</div>
				<div class="content-main-content padd-128">
					<div class="content-title fsize-2">
						Playa Pocitos					</div>
					<div class="content-info fsize-3">
						<span>Desde hace 100 años es la playa montevideana más concurrida gracias a sus excelentes servicios y su cercanía al centro de la ciudad. En verano, la playa es elegida para la práctica de actividades deportivas como el fútbol playa, el voleibol, y para diversos deportes náuticos.</span>
					</div>
				</div>
			</div>
		<div class="cboth"></div>
	</div>
	<div class="line invisible"></div>
	<h3 class="subtitle subtitle-1">Cámaras en vivo</h3>
	<div class="line fore-color-4 stick as-overline"></div>
	<div class="content-list-view cboth">
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/22" class="content-entry" title="Plaza Independencia">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/22/128/default.jpg" alt="Plaza Independencia" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Plaza Independencia</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Plaza Independencia				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/13/56/default.jpg" alt="Plaza Independencia" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">1</span>
			</a>			
		</div>
		
				<div class="content-cell selected" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/35" class="content-entry" title="Playa Pocitos">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/35/128/default.jpg" alt="Playa Pocitos" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Playa Pocitos</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Playa Pocitos				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/26/56/default.jpg" alt="Playa Pocitos" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">2</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/27" class="content-entry" title="Teatro Solís">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/27/128/default.jpg" alt="Teatro Solís" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Teatro Solís</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Teatro Solís				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/21/56/default.jpg" alt="Teatro Solís" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">3</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/32" class="content-entry" title="Plaza del Entrevero">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/32/128/default.jpg" alt="Plaza del Entrevero" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Plaza del Entrevero</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Plaza del Entrevero				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/24/56/default.jpg" alt="Plaza del Entrevero" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">4</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/26" class="content-entry" title="Plaza 1° de Mayo">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/26/128/default.jpg" alt="Plaza 1° de Mayo" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Plaza 1° de Mayo</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Plaza 1° de Mayo				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/20/56/default.jpg" alt="Plaza 1° de Mayo" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">5</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/34" class="content-entry" title="Peatonal Sarandí">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/34/128/default.jpg" alt="Peatonal Sarandí" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Peatonal Sarandí</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Peatonal Sarandí				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/15/56/default.jpg" alt="Peatonal Sarandí" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">6</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/28" class="content-entry" title="Palacio Legislativo">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/28/128/default.jpg" alt="Palacio Legislativo" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Palacio Legislativo</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Palacio Legislativo				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/22/56/default.jpg" alt="Palacio Legislativo" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">8</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/29" class="content-entry" title="Mercado del Puerto">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/29/128/default.jpg" alt="Mercado del Puerto" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Mercado del Puerto</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Mercado del Puerto				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/17/56/default.jpg" alt="Mercado del Puerto" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">9</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/24" class="content-entry" title="Mercado Agrícola">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/24/128/default.jpg" alt="Mercado Agrícola" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Mercado Agrícola</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Mercado Agrícola				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/18/56/default.jpg" alt="Mercado Agrícola" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">10</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/30" class="content-entry" title="Intendencia de Montevideo">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/30/128/default.jpg" alt="Intendencia de Montevideo" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Intendencia de Montevideo</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Intendencia de Montevideo				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/25/56/default.jpg" alt="Intendencia de Montevideo" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">11</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/31" class="content-entry" title="Viaducto de Paso Molino">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/31/128/default.jpg" alt="Viaducto de Paso Molino" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Viaducto de Paso Molino</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Viaducto de Paso Molino				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/23/56/default.jpg" alt="Viaducto de Paso Molino" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">12</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/33" class="content-entry" title="Paso Molino">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/33/128/default.jpg" alt="Paso Molino" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Paso Molino</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Paso Molino				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/16/56/default.jpg" alt="Paso Molino" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">13</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/11" class="content-entry" title="Montevideo, Sur">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/11/128/default.jpg" alt="Montevideo, Sur" class="" style="margin-top:1px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Montevideo, Sur</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Edf. Joaquín Torres García				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/9/56/default.jpg" alt="Edf. Joaquín Torres García" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">14</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/12" class="content-entry" title="Montevideo, Este">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/12/128/default.jpg" alt="Montevideo, Este" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Montevideo, Este</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Edf. Joaquín Torres García				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/9/56/default.jpg" alt="Edf. Joaquín Torres García" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">15</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/13" class="content-entry" title="Montevideo, Norte">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/13/128/default.jpg" alt="Montevideo, Norte" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Montevideo, Norte</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Edf. Joaquín Torres García				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/9/56/default.jpg" alt="Edf. Joaquín Torres García" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">16</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/14" class="content-entry" title="Montevideo, Oeste">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/14/128/default.jpg" alt="Montevideo, Oeste" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Montevideo, Oeste</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Edf. Joaquín Torres García				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/9/56/default.jpg" alt="Edf. Joaquín Torres García" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">17</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/23" class="content-entry" title="Terminal Río Branco">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/23/128/default.jpg" alt="Terminal Río Branco" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Terminal Río Branco</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Terminal Río Branco				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/14/56/default.jpg" alt="Terminal Río Branco" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">18</span>
			</a>			
		</div>
		
				<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/25" class="content-entry" title="Terminal Ciudadela">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/25/128/default.jpg" alt="Terminal Ciudadela" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Terminal Ciudadela</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Terminal Ciudadela				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/19/56/default.jpg" alt="Terminal Ciudadela" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">19</span>
			</a>			
		</div>
		
		<div class="cboth"></div>		<div class="content-cell" style="width:49%" >
			<a href="http://camaras.vera.com.uy/camara/16" class="content-entry" title="Pista de Atletismo">
				<span class="content-thumb thumb-128 fleft">
					<span class="img switchable">
						<img src="http://camaras.vera.com.uy/dynamic/cameras_images/16/128/default.jpg" alt="Pista de Atletismo" class="" style="margin-top:0px;"/>					
					</span>		
				</span>						
				<span class="fsize-2 title right-margin">Pista de Atletismo</span>						
				<br/>
				<span class="content-description">
									</span>				
				<br/>
				<span class="">
					<strong>Lugar: </strong>
					Pista de Atletismo				</span>
				<span class="content-thumb thumb-56 fright">
					<span class="img">
						<img src="http://camaras.vera.com.uy/dynamic/places_images/11/56/default.jpg" alt="Pista de Atletismo" class="" style="margin-top:-0px;"/>					
					</span>		
				</span>
				<span class="pin">20</span>
			</a>			
		</div>
		<div class="cboth"></div>
</div>
</div>
	
	<div class="width-33 fright">
		<!-- <div class="box" style="margin-top:4px">
						
			<span class="cam_num">1<span class="latlng hidden">-34.906077860733134,-56.19981676351017</span><span class="camera_id hidden">22</span></span>					 selected	
			<span class="cam_num selected">2<span class="latlng hidden">-34.91118530300023,-56.14395689946832</span><span class="camera_id hidden">35</span></span>						
			<span class="cam_num">3<span class="latlng hidden">-34.907397643698275,-56.20168009430927</span><span class="camera_id hidden">27</span></span>						
			<span class="cam_num">4<span class="latlng hidden">-34.90527278270778,-56.19483241436683</span><span class="camera_id hidden">32</span></span>						
			<span class="cam_num">5<span class="latlng hidden">-34.888764743712834,-56.18630307908461</span><span class="camera_id hidden">26</span></span>						
			<span class="cam_num">6<span class="latlng hidden">-34.90661017574827,-56.20216047755093</span><span class="camera_id hidden">34</span></span>						
			<span class="cam_num">8<span class="latlng hidden">-34.889602,-56.187842</span><span class="camera_id hidden">28</span></span>						
			<span class="cam_num">9<span class="latlng hidden">-34.90582929923427,-56.21131190688175</span><span class="camera_id hidden">29</span></span>						
			<span class="cam_num">10<span class="latlng hidden">-34.88733355342366,-56.18439057467185</span><span class="camera_id hidden">24</span></span>						
			<span class="cam_num">11<span class="latlng hidden">-34.905611532346995,-56.18668949595303</span><span class="camera_id hidden">30</span></span>						
			<span class="cam_num">12<span class="latlng hidden">-34.861408304366236,-56.213371932462906</span><span class="camera_id hidden">31</span></span>						
			<span class="cam_num">13<span class="latlng hidden">-34.857507,-56.218520</span><span class="camera_id hidden">33</span></span>						
			<span class="cam_num">14<span class="latlng hidden">-34.8920933946622,-56.19542969709778</span><span class="camera_id hidden">11</span></span>						
			<span class="cam_num">15<span class="latlng hidden">-34.891846990876076,-56.19533581978226</span><span class="camera_id hidden">12</span></span>						
			<span class="cam_num">16<span class="latlng hidden">-34.89186459117104,-56.195448472560884</span><span class="camera_id hidden">13</span></span>						
			<span class="cam_num">17<span class="latlng hidden">-34.89197459292902,-56.19560940510178</span><span class="camera_id hidden">14</span></span>						
			<span class="cam_num">18<span class="latlng hidden">-34.900692926405654,-56.19634249804221</span><span class="camera_id hidden">23</span></span>						
			<span class="cam_num">19<span class="latlng hidden">-34.901977599672136,-56.20255726571486</span><span class="camera_id hidden">25</span></span>						
			<span class="cam_num">20<span class="latlng hidden">-34.89576082628628,-56.15779531028238</span><span class="camera_id hidden">16</span></span>				</div> -->
		<!-- <div class="acenter">
			<a href=""><img src="http://camaras.vera.com.uy/img/propa.png" alt=""/></a>
		</div> -->
		<div class="line invisible"></div>	
		<h3 class="subtitle subtitle-2 fleft">Comentarios</h3>
					<a href="javascript:void(0);" class="button medium grey fleft" style="margin-top:2px;" onclick="do_login();">Haz un comentario</a>
				<div class="line fore-color-4 stick as-overline"></div>
				<div id="comFrame"><script>document.getElementById("comFrame").innerHTML="<iframe marginwidth='0' marginheight='0' frameborder='0' style='border: 0;' width='300' height='500' src='http://comentarios.adinet.com.uy/index.php/comentariosABM/index/adinetcamaras/v4tcor/anonimo/?ci=http%3A%2F%2Fcamaras.vera.com.uy%2Fcompartir%2Fsocial%2F35'></iframe>"</script></div>	</div>
		
	<!-- START GOOGLE MAPS -->
	
	<script type="text/javascript">
		var markerCollection = [];
		var camMap = null;
		var mapExpanded = false;
		var panTimer;
		function initialize_map (){
							latlng = new google.maps.LatLng(-34.892584,-56.194389);
					    var myOptions = {
				zoom: 16,
				center: latlng,
				mapTypeId: google.maps.MapTypeId.SATELLITE
		    };
		    
		    camMap = new google.maps.Map(document.getElementById("map-canvas"), myOptions);
		    google.maps.event.addListener(camMap, 'click', function(latlng){});
		    
		    var current_marker;
		    markerCollection.push(current_marker = new google.maps.Marker({
		        position: new google.maps.LatLng(-34.91118530300023, -56.14395689946832),
		        map: camMap,
		        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=2|ffba57',
		        title: 'Playa Pocitos',
		        zIndex: 21		    }));
		    
		    google.maps.event.addListener(current_marker, 'click', function() {
		    	console.log(event);
		    });
		    
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.906077860733134, -56.19981676351017),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=1|ff9000',
			        //shape: shape,
			        title: 'Plaza Independencia',
			        zIndex: 19,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/22';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.91118530300023, -56.14395689946832),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=2|ff9000',
			        //shape: shape,
			        title: 'Playa Pocitos',
			        zIndex: 18,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/35';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.907397643698275, -56.20168009430927),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=3|ff9000',
			        //shape: shape,
			        title: 'Teatro Solís',
			        zIndex: 17,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/27';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.90527278270778, -56.19483241436683),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=4|ff9000',
			        //shape: shape,
			        title: 'Plaza del Entrevero',
			        zIndex: 16,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/32';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.888764743712834, -56.18630307908461),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=5|ff9000',
			        //shape: shape,
			        title: 'Plaza 1° de Mayo',
			        zIndex: 15,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/26';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.90661017574827, -56.20216047755093),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=6|ff9000',
			        //shape: shape,
			        title: 'Peatonal Sarandí',
			        zIndex: 14,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/34';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.889602, -56.187842),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=8|ff9000',
			        //shape: shape,
			        title: 'Palacio Legislativo',
			        zIndex: 12,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/28';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.90582929923427, -56.21131190688175),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=9|ff9000',
			        //shape: shape,
			        title: 'Mercado del Puerto',
			        zIndex: 11,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/29';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.88733355342366, -56.18439057467185),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=10|ff9000',
			        //shape: shape,
			        title: 'Mercado Agrícola',
			        zIndex: 10,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/24';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.905611532346995, -56.18668949595303),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=11|ff9000',
			        //shape: shape,
			        title: 'Intendencia de Montevideo',
			        zIndex: 9,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/30';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.861408304366236, -56.213371932462906),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=12|ff9000',
			        //shape: shape,
			        title: 'Viaducto de Paso Molino',
			        zIndex: 8,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/31';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.857507, -56.218520),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=13|ff9000',
			        //shape: shape,
			        title: 'Paso Molino',
			        zIndex: 7,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/33';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.8920933946622, -56.19542969709778),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=14|ff9000',
			        //shape: shape,
			        title: 'Montevideo, Sur',
			        zIndex: 6,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/11';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.891846990876076, -56.19533581978226),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=15|ff9000',
			        //shape: shape,
			        title: 'Montevideo, Este',
			        zIndex: 5,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/12';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.89186459117104, -56.195448472560884),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=16|ff9000',
			        //shape: shape,
			        title: 'Montevideo, Norte',
			        zIndex: 4,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/13';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.89197459292902, -56.19560940510178),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=17|ff9000',
			        //shape: shape,
			        title: 'Montevideo, Oeste',
			        zIndex: 3,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/14';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.900692926405654, -56.19634249804221),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=18|ff9000',
			        //shape: shape,
			        title: 'Terminal Río Branco',
			        zIndex: 2,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/23';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.901977599672136, -56.20255726571486),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=19|ff9000',
			        //shape: shape,
			        title: 'Terminal Ciudadela',
			        zIndex: 1,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/25';
		        });
		    		    			    	markerCollection.push(current_marker = new google.maps.Marker({
			        position: new google.maps.LatLng(-34.89576082628628, -56.15779531028238),
			        map: camMap,
			        //shadow: shadow,
			        icon: 'http://chart.apis.google.com/chart?chst=d_map_pin_letter_withshadow&chld=20|ff9000',
			        //shape: shape,
			        title: 'Pista de Atletismo',
			        zIndex: 0,
		        	click: function(event, a){
		            }
			    }));
		        google.maps.event.addListener(current_marker, 'click', function() {
		        	document.location = 'http://camaras.vera.com.uy/camara/16';
		        });
		    		};
	
		function expandMap(){
			mapExpanded = true;
			$('.btn-map-expand').addClass('btn-label-hide');
			$('.btn-map-collapse').removeClass('btn-label-hide');
			$('.content-watch').animate({width:'340px'}, function(){google.maps.event.trigger(camMap, "resize");});
			$('#map-canvas').animate({width:'610px'});
			
		}
		
		function collapseMap(){
			mapExpanded = false;
			$('.btn-map-collapse').addClass('btn-label-hide');
			$('.btn-map-expand').removeClass('btn-label-hide');
			$('.content-watch').animate({width:'640px'}, function(){google.maps.event.trigger(camMap, "resize");});
			$('#map-canvas').animate({width:'310px'});
			
		}
		
		function centerMap(lat,lng,zoom){
			camMap.setCenter(new google.maps.LatLng(lat,lng));
			camMap.setZoom(zoom);
			google.maps.event.trigger(camMap, "center_changed");
			google.maps.event.trigger(camMap, "zoom_changed");
		}
		
		<!-- END GOOGLE MAPS -->


		<!-- START JWPLAYER -->

		function ga_heartbeat(){
			if(jwplayer("myElement").getState()=="playing"){
				ga('send', 'event', 'JW PLAYER', 'playing', 'Playa Pocitos');
				setTimeout(ga_heartbeat, 1*60*1000);
			}
		}

		if($("#myElement").length > 0){
			jwplayer("myElement").onPlay(function(){
				ga('send', 'event', 'JW PLAYER', 'Play', 'Playa Pocitos');
				ga_heartbeat();
			});
			
			jwplayer("myElement").onComplete(function(){
				ga('send', 'event', 'JW PLAYER', 'complete', 'Playa Pocitos');
				clearInterval(timer);
			});
		}
		<!-- END JWPLAYER -->
		
		$(document).ready(function(event){
			$('.cam_num').click(function(event){
				if($(this).hasClass('selected')){
					document.location.href = 'http://camaras.vera.com.uy/camara/'+$(this).children('.camera_id').html();
				}else{
					var splited= $(this).children('.latlng').html().split(",");
					camMap.panTo(new google.maps.LatLng(splited[0],splited[1]));
					$('.cam_num').removeClass('selected');
					$(this).addClass('selected');
				}
			});	
				
		});
		
		$(window).load(function(event){
			initialize_map();
			centerMap(-34.91118530300023, -56.14395689946832,17);
		});
		
	</script>
				<div class="cboth"></div>
		</div>		
		<div class="pie">
	<a href="http://www.antel.com.uy/antel/" class="fleft antel"><img src="http://camaras.vera.com.uy/img/pixel.gif" alt="Antel"/></a>	<div class="fleft fore-color-3 copyright">&#169; 2016 ANTEL, LA EMPRESA DE COMUNICACI&Oacute;N DE LOS URUGUAYOS<br />Guatemala 1075 - Complejo Torre de las Telecomunicaciones | Montevideo, Uruguay | Tel.: +598 2928 0000</div>
	<div class="fright" style="margin-top:40px;margin-right: 10px;"><a style="color:#ffffff !important;" href="http://camaras.vera.com.uy/tyc">Términos y Condiciones</a></div>
	<div class="cboth"></div>
</div>
<!-- Piwik -->
 <script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.adinet.com.uy/" : "http://stats.adinet.com.uy/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 95);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.adinet.com.uy/piwik.php?idsite=95" style="border:0" alt=""/></p></noscript> 
<!-- End Piwik Tag -->	</body>
</html>
