
		<link href="http://camaras.vera.com.uy/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />		<link href='http://camaras.vera.com.uy/css/estilos.css' rel='stylesheet' type='text/css' />
		<link href='http://camaras.vera.com.uy/custom_css_jwplayer/my_skin_channel.css' rel='stylesheet' type='text/css' />
		<title>cam?</title>
		<!-- JS -->
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/jquery-1.7.1.min.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/pType.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/jquery.cookie.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/jwplayer/jwplayer.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/common.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/lib/angular/angular.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/lib/angular/angular-resource.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/app.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/controllers.js"></script>
		<script type="text/javascript" src="http://camaras.vera.com.uy/js/ng/app/js/services.js"></script>

		<script>
			//Evitar iframes
			if(top.location!=this.location){
				top.location=this.location;
			}
		</script>
	</head>
	<body>
		<div id="ajax_dialog"></div>	
		<!--div cabezal-->		
		<div class="paraguas">
	<div class="content">
		<a href="http://www.antel.com.uy/" class="fright antel"><img src="http://camaras.vera.com.uy/img/pixel.gif" alt="Logo de Antel"/></a>		<div class="texto_top fsize-3 fright">
												<a href="javascript:do_login();">ingresar</a>	
									</div>
		<div class="cboth"></div>
	</div>					
</div>				<div class="cboth"></div>
		<div class="cabezal fore-color-1">
	<a href="http://camaras.vera.com.uy/" class="fleft logo"><img src="http://camaras.vera.com.uy/img/pixel.gif" alt="Adinet C&aacute;maras"/></a>		<div class="cright"><div id="veratvlogo" class="fright"><a href="http://tv.vera.com.uy/"><img src="http://camaras.vera.com.uy/img/veratv chiquito.png" alt="Veratv Logo"/></a></div></div>
	<div class="line fore-color-1 as-underline as-overline"></div>
	<div class="cboth"></div>
	
</div>		<div class="cboth"></div>
		
		<div class="cboth"></div>
		<div class="contenedor">
			<div class="cboth"></div>
				<script type="text/javascript" src="http://camaras.vera.com.uy/jwplayer/jwplayer.js"></script>
	<script type="text/javascript">jwplayer.key="Nx30mKDHBilTt/aT7uPSzyGDP+StqPMEWohghw==";</script>
	
	<!-- START GOOGLE ANALYTICS -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga("create", "UA-58643395-1", "auto");
			ga('send', {
  				hitType: 'pageview',
 				page: "Playa Pocitos"
			});
			  
	</script>
	<!-- END GOOGLE ANALYTICS -->
		
	<div class="fleft width-33 fsize-3">
		<h1>2 - Playa Pocitos</h1>
				<div class="line invisible"></div>
	</div>
	<div class="fleft width-33 fsize-3 prelative">
		<!-- START WEATHER APP -->
		<div id="extra-info" ng-app="extra-info" ng-controller="ExtraInfoCtrl" ng-cloak>
			<div class="container ohidden">
				<img class="fleft" ng-src="{{weatherInfo.icon_url}}" title="{{weatherInfo.tooltips.weather_icon}}" />
				<div class="fleft acenter" style="width: 64px" title="{{weatherInfo.tooltips.temperature}}">
					<span class="curr-temp">{{weatherInfo.temp_c}}{{weatherInfo.c_unit}}</span>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{weatherInfo.tooltips.max_min}}">
					<!-- <img class="max-min fleft" ng-src="{{weatherInfo.high_icon}}" /> -->
					<span class="max-min fright fbold" style="color:#FFBB96">{{weatherInfo.high_temp_c}}{{weatherInfo.c_unit}}</span>
					<div class="cleft"></div>
					<!-- <img class="max-min fleft" ng-src="{{weatherInfo.low_icon}}" /> -->
					<span class="max-min fright fbold" style="color:#A3DDFF">{{weatherInfo.low_temp_c}}{{weatherInfo.c_unit}}</span>
					<div class="cleft"></div>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{time | date:'dd/MM/yyyy HH:mm:ss'}}">
					<span class="date-time fright">{{time | date:"dd/MM"}}</span>
					<div class="cright"></div>
					<span class="date-time fright">{{time | date:"HH:mm"}}</span>
				</div>
				<div class="divider"></div>
				<div class="fleft" title="{{weatherInfo.tooltips.sun_moon}}">
					<span class="day-night-icon" ></span>
				</div>
				<div class="cboth"></div>
			</div>
		<!-- <a class="fleft icon less pabsolute" style="top:2px; left: 0px; display: none;" ng-click="hide()"></a> -->
		<!-- <a class="fleft icon more pabsolute" style="top:2px;left: 0px; display: none;" ng-click="show()"></a> -->
			<a class="fleft pabsolute" target="_blank"  href="{{weatherInfo.wu_link}}" style="top:26px;left: 4px;width:24px;height:16px;" title="Ver en wunderground.com"><img class="logo" ng-src="{{weatherInfo.wu_logo}}"/></a>
			<div class="cboth"></div>
		</div>
		<!-- END WEATHER APP -->
	</div>
	
		
	<div class="cboth"></div>
		
	<!-- START JWPLAYER -->
	<div id="player-map-container" class="ohidden prelative" style="padding-right:4px;padding-bottom:4px">
		<div class="content-watch ohidden fleft prelative">
			<div class="fake" style="height:390; width:640;">
			<script type="text/javascript">
				/* START INFO WEATHER WIDGET */
				var camera_id = '35';
				var PORTAL_WS_INFO = 'http://www.adinet.com.uy/ws/ws_info.php';
				var PORTAL_WS_WEATHER = 'http://www.adinet.com.uy/ws/ws_jsonp.php';
				/* END INFO WEATHER WIDGET */
			</script>
							<div id="myElement">
					<script type="text/javascript">
						jwplayer("myElement").setup({
				    		file: "http://live.cdn.antel.net.uy/auth_livesignal_324,vxttoken=cGF0aFVSST0lMkZhdXRoX2xpdmVzaWduYWxfMzI0JTJGaGxzJTJGJTJBJmV4cGlyeT0xNDc2NDM1NDIxJnJhbmRvbT12QzlEOFlGNVpuJmMtaXA9MTg2LjQ4LjE2NC44MSw0M2QyNmIyMDIxYzZjNzFmYjMzOTI4ZGMyYzAzMjI4MmY5NThmY2I5Y2RkNjQ1NWYwZjc1MDNkMzZiMGIyYzM4/hls/playlist.m3u8",
							autostart: true,
							aspectratio: "16:9",
							width: "100%",
							androidhls: true,
							primary: "html5",
								logo: {
									file: "http://veratv.cdn.antel.net.uy/syndication/images/a_24x24.png",
									hide: true,
									link: "http://www.antel.com.uy/",
									position: "top-right",
							},
							skin: {
								  name: "bekle"
							},
							fallback: false,
							stretching: "uniform",
					        hlslabels: {
				                "300":"300k",
				                "800": "800k",
				                "1200": "1200k",
				                "3000": "3000k"
					        }
						});
					</script>
